<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/leaflet.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">
    <title>Kurum Sayfası</title>
</head>

<body>
    <div id="haritaContainer" class="container-fluid">
        <div id="haritaBox">
            <div class="row">
                <div id="menuContainer" class="col-4">
                    <div id="aramaAlani">
                        <div class="form-group">
                            
                            <select id="haritaIl" class="form-select form-select-lg mb-1">
                            </select>
                            <select id="haritaIlce" class="form-select form-select-lg mb-1">
                                <option value="0">İlçe Seçiniz</option>
                            </select>
                            <input id="aramaKutusu" type="text" class="form-control form-control-lg mb-1"
                                placeholder="Mağaza Adı ile Arayın" />
                        </div>
                    </div>
                    <div id="sonucAlani" class="mt-1">
                        
                    </div>
                </div>
                <div class="col-8 px-0">
                    <div id="haritaGoster"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/leaflet.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/haritaGoster.js"></script>
    <script src="../assets/js/custom.js"></script>
</body>

</html>