<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/leaflet.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/leaflet.draw.css" />
    <link rel="stylesheet" href="../assets/css/toastr.min.css" />
    <script src="../assets/js/leaflet.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/leaflet.draw.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/css/autocomplete.min.css" />
    <script src="../assets/js/autocomplete.min.js"></script>
    <title>Kurum Sayfası</title>
</head>

<body>
    <div id="haritaContainer" class="container-fluid">
        <div id="haritaBox">
            <div class="row">
                <div id="menuContainer" class="col-4">
                    <div id="aramaAlani">
                        <div class="form-group">
                            <form id="magazaForm">

                                <select id="yonetimIl" class="form-select form-select-lg mb-1">
                                </select>
                                <select id="yonetimIlce" class="form-select form-select-lg mb-1">
                                    <option value="0">İlçe Seçiniz</option>
                                </select>
                                <input id="mazagaAdi" type="text" class="form-control form-control-lg mb-1"
                                    placeholder="Mağaza Adı" />
                                <textarea id="acikAdres" class="form-control mb-1" rows="6"
                                    placeholder="Açık Adres Giriniz"></textarea>
                                </textarea>
                                <input id="telefon" type="text" class="form-control form-control-lg mb-1"
                                    placeholder="İletişim Bilgisi" />
                        </div>
                        <div class="input-group mt-1">
                            <input type="text" class="form-control form-control-lg" id="enlem" placeholder="Enlem" />
                            <input type="text" class="form-control form-control-lg" id="boylam" placeholder="Boylam" />
                        </div>

                        </form>
                        <div class="d-grid gap-2 mt-1">
                            <button id="kaydetBtn" class="btn btn-primary btn-lg" type="button">Kaydet</button>
                        </div>
                    </div>
                </div>
                <div class="col-8 px-0">
                    <div class="auto-search-wrapper loupe">
                        <input type="text" class="form-control form-control-lg mb-1" autocomplete="off" id="search"
                            placeholder="Hızlı Arama" />
                    </div>
                    <div id="map"></div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="tableAlani">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">İl</th>
                                    <th scope="col">İlçe</th>
                                    <th scope="col">Mağaza Adı</th>
                                    <th scope="col">Açık Adres</th>
                                    <th scope="col">İletişim</th>
                                    <th scope="col">Enlem</th>
                                    <th scope="col">Boylam</th>
                                    <th scope="col">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody id="magazaListele" class="table-group-divider">
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../assets/js/haritaYonetim.js"></script>
    <script src="../assets/js/autoComplete.js"></script>
    <script src="../assets/js/toastr.min.js"></script>



</body>

</html>